#search-bar-container {
  position: absolute;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
}

#search-bar-container #search-bar {
  padding: 15px 25px;
  width: 400px;
  border: 1px solid #555;
}

#search-bar-container #search-icon {
  position: absolute;
  right: 10px;
  top: 13px;
}

@media only screen and (max-width: 700px) {
  #search-bar-container {
    top: 200px;
  }
}

@media only screen and (max-width: 500px) {
  #search-bar-container #search-bar {
    width: 300px;
  }
}
