.panel {
  position: relative;
  background-size: cover;
  margin: 20px;
}

.panel .alpha-overlay {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.76) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 100%;
  z-index: 100;
}

.panel:hover .alpha-overlay {
  opacity: 1;
}

.panel .panel-title {
  margin: 10px 15px;
  font-size: 20px;
  font-weight: normal;
}

.panel .buttons {
  position: absolute;
  display: flex;
  right: 5px;
  top: 7px;
}

.panel .buttons > * {
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 100%;
  background-color: transparent;
  height: 35px;
  width: 35px;
}

.panel .remove-panel:hover {
  color: red;
  background-color: #f5f5f5;
}

.panel .edit-panel svg {
  transform: scale(0.8);
}

.panel .edit-panel:hover {
  background-color: #f5f5f5;
}

.panel .edit-panel:hover svg path {
  fill: #333 !important;
}

@media only screen and (max-width: 810px) {
  .panel .alpha-overlay {
    opacity: .8;
  }
}
